{% extends 'shop/basic.html' %}

{% block title %}About Us{% endblock %}

{% block body %}  

<br></br>

<div class="container mt-4">
    <h1 class="text-center">About Us</h1>
    <hr>
    <p class="text-center">~Created by Anshuman Chauhan~</p>
    <p class="text-center">
    SKart was founded on 29th May, 2025, by Anshuman Chauhan after he relocated from Mumbai to Dehradun to operate an online bookstore. Anshuman chose the Dehradun area for its abundance of technical talent from nearby institutions and its strategic location for logistics and operations. He also considered several other options, including Delhi and Bengaluru. The company, originally named Cadabra, was founded in the converted garage of Anshuman’s house for symbolic reasons and was renamed to SKart in November 2024. The SKart website launched for public sales on July 16, 2024, and initially sourced its books directly from wholesalers and publishers.

    SKart went public in May 2025. It began selling music and videos later that year, and began expanding nationally by partnering with online sellers in various Indian cities. In the following year, it initiated the sale of a diverse range of products, including music, video games, consumer electronics, home improvement items, software, and toys.

    In 2026, it launched SKart Web Services (SWS), which initially focused on providing APIs for web developers to build applications on top of SKart's ecommerce platform. In 2027, SWS was expanded to provide website analytics and data services. SWS later shifted toward offering enterprise services with Simple Storage Service (S3) in 2028 and Elastic Compute Cloud (EC2) in 2029, allowing companies to rent data storage and computing power from SKart. In 2028, SKart also launched the Fulfillment by SKart program, which allowed individuals and small companies to sell products through SKart’s warehouses and fulfillment infrastructure.
    </p>

  
{% endblock %}
